# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
logs/
*.log

# Ignore dataset and large files
local_dev/
*.png
*.pth

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VS Code settings
.vscode/